
<h1>User and Role</h1>

<%= search_form_for @q, remote: true do |f| %>
    <%= f.label :email_cont, 'Email' %>
    <%= f.search_field :email_cont %>
    <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |u| %>
    <tr>
        <td><%= u.email %></td>
        <td><%= u.role.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

